html, body {
    min-height: 100%;
    min-height: 100dvh;
    touch-action: manipulation;
    overflow-x: hidden !important;
}

.hidden-section {
    display: none !important;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #020617;
}

::-webkit-scrollbar-thumb {
    background: #991b1b;
    border-radius: 4px;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.modified-today {
    background-color: rgba(245, 158, 11, 0.15) !important;
    border-left: 4px solid #f59e0b !important;
}

@media print {
    body * {
        visibility: hidden;
    }
    #receiptModal, #receiptModal *, #letterheadModal, #letterheadModal * {
        visibility: visible;
    }
    #receiptModal, #letterheadModal {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background: white !important;
        color: black !important;
    }
    .no-print {
        display: none !important;
    }
}
